<!DOCTYPE html>
<html>
    <head>
        <title>Movie Recommendations</title>
        <style>
            select {
                width: 200px;
            }
        </style>
    </head>
    <body>
        <p>Find the similar movies</p>
        <form action="{{ url_for('show_recom')}}" method="POST">
        <select name="data">
            {% for o in data %}
            <option value="{{ o.movie }}">{{ o.movie }}</option>
            {% endfor %}
        </select><br><br>
        <input type="text" name="movie" placeholder="Number of movies"><br><br>
        <button type="submit">Submit</button>
        </form>
        <br>
        {% for t in movie_text %}
        {{ t }} <br>
        {% endfor %}
        <br>
    </body>
</html>